:root {
  --background-root: #0E1525;
  --background-default: #1C2333;
  --background-higher: #2B3245;
  --background-highest: #3C445C;
  --background-overlay: #0e1525A0;
  --foreground-default: #F5F9FC;
  --foreground-dimmer: #C2C8CC;
  --foreground-dimmest: #9DA2A6;
  --outline-strongest: #9195A1;
  --outline-stronger: #828899;
  --outline-default: #70788C;
  --outline-dimmer: #5F677A;
  --outline-dimmest: #4E5569;
  -webkit---accent-primary-dimmest: #004182;
  --accent-primary-dimmest: #004182;
  --accent-primary-dimmer: #0053A6;
  -webkit---accent-primary-default: #0079F2;
  --accent-primary-default: #0079F2;
  --accent-primary-stronger: #57ABFF;
  --accent-primary-strongest: #B2D9FF;
  --accent-positive-dimmest: #044A10;
  -webkit---accent-positive-dimmer: #046113;
  --accent-positive-dimmer: #046113;
  --accent-positive-default: #009118;
  --accent-positive-stronger: #6CD97E;
  --accent-positive-strongest: #BFFFCA;
  --accent-negative-dimmest: #660000;
  -webkit---accent-negative-dimmer: #A60808;
  --accent-negative-dimmer: #A60808;
  --accent-negative-default: #E52222;
  --accent-negative-stronger: #FF6666;
  --accent-negative-strongest: #FFCFCF;
  --accent-red-dimmest: #660000;
  --accent-red-dimmer: #A60808;
  --accent-red-default: #E52222;
  --accent-red-stronger: #FF6666;
  --accent-red-strongest: #FFCFCF;
  --accent-orange-dimmest: #542A00;
  --accent-orange-dimmer: #703800;
  --accent-orange-default: #AD5700;
  -webkit---accent-orange-stronger: #D4781C;
  --accent-orange-stronger: #D4781C;
  --accent-orange-strongest: #FFBD7A;
  --accent-yellow-dimmest: #4D4000;
  --accent-yellow-dimmer: #635300;
  --accent-yellow-default: #967D00;
  -webkit---accent-yellow-stronger: #BFA730;
  --accent-yellow-stronger: #BFA730;
  --accent-yellow-strongest: #F2E088;
  --accent-lime-dimmest: #314A00;
  --accent-lime-dimmer: #3D5C00;
  --accent-lime-default: #5A8700;
  --accent-lime-stronger: #87B825;
  --accent-lime-strongest: #C4E581;
  --accent-green-dimmest: #044A10;
  --accent-green-dimmer: #046113;
  --accent-green-default: #009118;
  --accent-green-stronger: #6CD97E;
  -webkit---accent-green-strongest: #7AEB8D;
  --accent-green-strongest: #7AEB8D;
  --accent-teal-dimmest: #004452;
  --accent-teal-dimmer: #006073;
  --accent-teal-default: #0093B0;
  --accent-teal-stronger: #27B9D6;
  --accent-teal-strongest: #69D9F0;
  --accent-blue-dimmest: #004182;
  --accent-blue-dimmer: #0053A6;
  --accent-blue-default: #0079F2;
  --accent-blue-stronger: #57ABFF;
  --accent-blue-strongest: #B2D9FF;
  -webkit---accent-blurple-dimmest: #39298A;
  --accent-blurple-dimmest: #39298A;
  --accent-blurple-dimmer: #5239CC;
  -webkit---accent-blurple-default: #795EFF;
  --accent-blurple-default: #795EFF;
  --accent-blurple-stronger: #A694FF;
  --accent-blurple-strongest: #CEC4FF;
  --accent-purple-dimmest: #582987;
  --accent-purple-dimmer: #7633B8;
  --accent-purple-default: #A64DFF;
  -webkit---accent-purple-stronger: #C78FFF;
  --accent-purple-stronger: #C78FFF;
  --accent-purple-strongest: #E2C4FF;
  -webkit---accent-magenta-dimmest: #6B1A6B;
  --accent-magenta-dimmest: #6B1A6B;
  --accent-magenta-dimmer: #8A218A;
  -webkit---accent-magenta-default: #C73AC7;
  --accent-magenta-default: #C73AC7;
  --accent-magenta-stronger: #F562F5;
  --accent-magenta-strongest: #FFBFFF;
  --accent-pink-dimmest: #6E1B52;
  --accent-pink-dimmer: #8F226B;
  --accent-pink-default: #D4359F;
  --accent-pink-stronger: #FF70CF;
  --accent-pink-strongest: #FFBAE8;
  --accent-grey-dimmest: #404040;
  --accent-grey-dimmer: #545454;
  --accent-grey-default: #808080;
  --accent-grey-stronger: #A6A6A6;
  --accent-grey-strongest: #D4D4D4;
  --accent-brown-dimmest: #594031;
  --accent-brown-dimmer: #75503B;
  --accent-brown-default: #A3765C;
  --accent-brown-stronger: #D49877;
  -webkit---accent-brown-strongest: #FFC8A8;
  --accent-brown-strongest: #FFC8A8;
  --border-radius-1: 1px;
  --border-radius-2: 2px;
  --border-radius-4: 4px;
  --border-radius-8: 8px;
  --border-radius-16: 16px;
  --border-radius-default: var(--border-radius-8);
  --border-radius-round: 1028px;
  --space-2: 2px;
  --space-4: 4px;
  --space-8: 8px;
  --space-12: 12px;
  --space-16: 16px;
  --space-24: 24px;
  --space-32: 32px;
  --space-48: 48px;
  --space-64: 64px;
  --space-128: 128px;
  --space-256: 256px;
  --space-default: var(--space-8);
  --shadow-1: 0px 4px 8px 0px rgba(2, 2, 3, 0.16);
  --shadow-2: 0px 8px 16px 0px rgba(2, 2, 3, 0.32);
  --shadow-3: 0px 16px 32px 0px rgba(2, 2, 3, 0.48);
  --shadow-default: var(--shadow-1);
  --font-family-default: 'IBM Plex Sans',sans-serif;
  --font-family-code: 'ReplitHack','IBM Plex Mono',monospace;
  --font-size-small: 12px;
  --line-height-small: 1.5;
  --font-size-default: 14px;
  --line-height-default: 1.6;
  --font-size-subhead-default: 16px;
  --line-height-subhead-default: 1.375;
  --font-size-subhead-big: 20px;
  --line-height-subhead-big: 1.2;
  --font-size-header-default: 24px;
  --line-height-header-default: 1;
  --font-size-header-big: 32px;
  --line-height-header-big: 1;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
  --transition-duration-snappy: 120ms;
  --transition-timing-function-snappy: ease-out;
  --transition-duration-chill: 300ms;
  --transition-timing-function-chill: ease-in-out;
  --border-width-default: 1px;
  --single-line: 1;
  --black: #0E1525;
  --white: #FCFCFC;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 100%;
  width: 100%;
}

h1 {
  font-size: var(--font-size-header-big);
}

h2 {
  font-size: var(--font-size-header-default);
}

.buttons {
  display: flex;
  margin-top: 5px;
  justify-content: center;
  width: 75%;
}

.btn {
  padding: 7px 25px;
  margin: 3px;
  border-radius: var(--border-radius-4);
}

.btn-primary {
  background-color: var(--accent-blue-default);
}